input.error { 
    border: 1px solid red; 
    background-color:#ffeeee;
}
label.error {

  padding-left: 16px;

  padding-bottom: 2px;

  font-weight: bold;

  color: #EA5200;
}
.field-validation-error span {
    padding-left: 6px;
    color: red;
}